In [11]:
# Import the requried packages
import numpy as np
import pandas as pd
import seaborn as sns
import re
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model, neighbors, tree, svm, ensemble, neural_network
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score, cross_validate

import warnings

warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('./Mumbai_V1.csv', encoding='utf-8')
df

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,1,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,1,1,1,0,0,1,0,1,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,1,1,1,0,0,1,0,1,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,14500000,1180,2,0,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7715,14500000,530,1,1,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7716,4100000,700,1,0,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7717,2750000,995,2,0,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7718,2750000,1020,2,0,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7719 entries, 0 to 7718
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                7719 non-null   int64
 1   Area                 7719 non-null   int64
 2   No. of Bedrooms      7719 non-null   int64
 3   Resale               7719 non-null   int64
 4   MaintenanceStaff     7719 non-null   int64
 5   Gymnasium            7719 non-null   int64
 6   SwimmingPool         7719 non-null   int64
 7   LandscapedGardens    7719 non-null   int64
 8   JoggingTrack         7719 non-null   int64
 9   RainWaterHarvesting  7719 non-null   int64
 10  IndoorGames          7719 non-null   int64
 11  ShoppingMall         7719 non-null   int64
 12  Intercom             7719 non-null   int64
 13  SportsFacility       7719 non-null   int64
 14  ATM                  7719 non-null   int64
 15  ClubHouse            7719 non-null   int64
 16  School               7719 non-null   int64
 17  24X7Security         7719 non-null   int64
 18  PowerBackup          7719 non-null   int64
 19  CarParking           7719 non-null   int64
 20  StaffQuarter         7719 non-null   int64
 21  Cafeteria            7719 non-null   int64
 22  MultipurposeRoom     7719 non-null   int64
 23  Hospital             7719 non-null   int64
 24  WashingMachine       7719 non-null   int64
 25  Gasconnection        7719 non-null   int64
 26  AC                   7719 non-null   int64
 27  Wifi                 7719 non-null   int64
 28  Children'splayarea   7719 non-null   int64
 29  LiftAvailable        7719 non-null   int64
 30  BED                  7719 non-null   int64
 31  VaastuCompliant      7719 non-null   int64
 32  Microwave            7719 non-null   int64
 33  GolfCourse           7719 non-null   int64
 34  TV                   7719 non-null   int64
 35  DiningTable          7719 non-null   int64
 36  Sofa                 7719 non-null   int64
 37  Wardrobe             7719 non-null   int64
 38  Refrigerator         7719 non-null   int64
dtypes: int64(39)
memory usage: 2.3 MB

In [14]:
y = df['Price']
X = df[['Area', 'No. of Bedrooms', 'Resale', 'MaintenanceStaff']]
X

      Area  No. of Bedrooms  Resale  MaintenanceStaff
0      720                1       1                 1
1      600                1       1                 1
2      650                1       1                 1
3      650                1       1                 1
4      665                1       1                 1
...    ...              ...     ...               ...
7714  1180                2       0                 9
7715   530                1       1                 9
7716   700                1       0                 9
7717   995                2       0                 9
7718  1020                2       0                 9

[7719 rows x 4 columns]

In [15]:
# Split the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

#Sacaling the data into a smaller range (-3 to +3)
mean = X_train.mean()
std = X_train.std()

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [17]:
#Linear Regression Model
lm_reg = linear_model.LinearRegression()
lm_reg.fit(X_train, y_train)

LinearRegression()

In [18]:
# print out the model coefficients and intercept
print(lm_reg.coef_)
print(lm_reg.intercept_)

[5809145.86206695 1081371.2705934  -556603.4511687   -62416.42324347]
15051560.626720648

In [19]:
mean_absolute_error(lm_reg.predict(X_train), y_train)

10140976.384963475

In [20]:
mean_absolute_error(lm_reg.predict(X_test), y_test)

10027265.768367322

In [21]:
lm_reg.score(X_train, y_train)

0.10638671084859008